<div id="<%= dom_id enologist %>">
  <p>
    <strong>Type:</strong>
    <%= enologist.type %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= enologist.age %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= enologist.nationality %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= enologist.company %>
  </p>

  <p>
    <strong>User:</strong>
    <%= enologist.user_id %>
  </p>

</div>
